@{ //Bloque de codigo C#
    /* ViewData es un diccionario que permite pasar datos entre
    el controlador, la vista, y el layout */
    ViewData["Title"] = "Home Page"; //Titulo de la pagina
}

<!-- HTML estatico -->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
